In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('test_data_1.xlsx')

In [3]:
df

,Unnamed: 0,Patient_ID,Disease,Sex,CD34,CD47,CD38,CD33,CD133,CD150,PDL1,TIM3,CD90,CD155,B2M,CD9,CD98
0,0,Patient_1033,MDS,Male,3784.765543,3698.064804,1742.401667,16732.188971,15449.916203,3410.125825,3735.811439,1892.290882,8394.710124,9723.581355,9940.156432,317.444411,1284.449796
1,1,Patient_1024,AML,Male,2949.183858,10499.798656,3394.110686,9633.333558,29089.517676,3082.276419,8673.897077,5750.826688,9218.957198,5392.342243,9927.608417,713.027676,1453.421593
2,2,Patient_1032,MDS,Male,2365.871714,18061.750817,3043.570917,6866.813592,5766.091289,7261.289719,1264.142594,1497.722810,12480.723609,4313.679941,2172.389555,734.372830,1749.007859
3,3,Patient_1027,AML,Male,8429.161883,18243.513806,2545.383816,14766.778843,18194.593965,1930.122459,1080.078446,5446.790593,4014.519751,8385.898509,3669.059243,342.063230,1974.548540
4,4,Patient_1005,MDS,Female,1114.829663,17381.953081,1356.317831,3899.748523,16278.351608,8465.770534,1694.172595,11144.757307,4130.492911,6419.242988,4072.616227,1306.039157,7274.954833
5,5,Patient_1006,MDS,Female,2784.970562,45068.564905,4267.863976,2186.434771,8494.042389,9979.132049,14022.341718,10429.871781,5684.477950,4757.569258,1296.279149,2211.542771,7771.942434
6,6,Patient_1031,MDS,Male,6276.628010,7919.557981,3431.963652,10581.095799,16966.094131,7916.459980,1394.354635,6297.544018,6473.734801,6865.997190,6532.255137,345.549524,4430.506581
7,7,Patient_1023,AML,Male,6903.714149,12914.043240,139.685819,13838.303073,13034.527809,4507.425675,3824.058756,4610.320773,10066.619001,7282.289608,9717.627034,614.228412,4814.508027
8,8,Patient_1013,AML,Female,3228.916472,26192.857918,9627.274035,7357.541981,3716.189440,16917.607331,8154.668034,6792.139643,19487.860239,1409.961608,2412.403044,1351.485084,5313.236263
9,9,Patient_1002,MDS,Female,1352.626169,16076.309467,4435.562483,6576.300688,9424.940245,16023.009914,2287.897468,6351.528066,22620.223829,4956.093243,1299.254323,830.779869,5681.864372

In [11]:
df = pd.read_csv('pbmc3k_subset_data.csv')
df

,Population,CellBarcode,LDHB,LYZ,CD74,CCL5,NKG7,AIF1,HLA-DRA,GPX1
0,CD8 T cells,AAACATACAACCAC-1,3.075915,1.635873,1.635873,4.322952,0.000000,0.000000,1.635873,0.000000
1,B cells,AAACATTGAGCTAC-1,2.583047,1.962726,4.654131,1.111715,1.111715,1.111715,4.309784,0.000000
2,CD4 T cells,AAACATTGATCAGC-1,3.387729,1.995416,1.995416,0.000000,0.000000,0.000000,0.000000,0.000000
3,FCGR3A Monocytes,AAACCGTGCTTCCG-1,0.000000,4.521174,3.989917,0.000000,1.566387,4.057675,4.521174,2.782369
4,NK cells,AAACCGTGTATGCG-1,0.000000,0.000000,2.416278,3.453545,4.729553,0.000000,2.416278,0.000000
...,...,...,...,...,...,...,...,...,...,...
2633,CD14 Monocytes,TTTCGAACTCTCAT-1,0.000000,5.225879,4.122465,0.000000,1.358668,3.296543,3.855583,3.183376
2634,B cells,TTTCTACTGAGGCA-1,1.918229,0.000000,3.657331,0.000000,0.000000,0.000000,3.657331,0.000000
2635,B cells,TTTCTACTTCCTCG-1,0.000000,0.000000,5.188208,0.000000,0.000000,0.000000,4.785530,0.000000
2636,B cells,TTTGCATGAGAGGC-1,0.000000,0.000000,5.780423,0.000000,0.000000,0.000000,4.995664,0.000000
2637,CD4 T cells,TTTGCATGCCTCAC-1,3.052174,1.798457,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [15]:
df_bcells = df[df['Population'] == 'B cells'].drop(['CellBarcode'],axis=1)

In [19]:
df_bcells.set_index('Population',inplace=True)

In [22]:
df_bcells['LDHB']

Population
B cells    2.583047
B cells    1.809904
B cells    1.613772
B cells    0.000000
B cells    1.959489
             ...
B cells    0.000000
B cells    2.148270
B cells    1.918229
B cells    0.000000
B cells    0.000000
Name: LDHB, Length: 342, dtype: float64

In [21]:
data_dic = []
for gene in df_bcells.columns:
    exp_data = df_bcells[gene]

LDHB
LYZ
CD74
CCL5
NKG7
AIF1
HLA-DRA
GPX1